{% extends 'base.html' %}

{% block body %}
    <div class='container'>

    <div class="jumbotron">
        <div class="container">
            <a href={% url "login" %} class="btn btn-primary">&larr; Go Back</a>
        </div>
        <div class='container'>

           <h3 class="text-center">Reset Password</h3>
    <p>Enter your email and we will send you the link to reset your password.</p>
    <form method="post" novalidate>{% csrf_token %}
        {% include 'includes/form.html'%}
        <input class="btn btn-primary btn-block" type="submit" role="button" value="Send password reset email"/>
         
    </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block head %}
Reset Password
{% endblock head %}

