{% extends 'base.html' %}




{% block body %}
<div class='container'>

    <div class="jumbotron">
       
        <div class='container'>
            {% if validlink %}
                <h3 class="h3 text-center mt-2">Reset your password for @{{ form.user.username }}</h3>
                <form method='post' novalidate>{% csrf_token %}
                    {% include 'includes/form.html' %}
                    <input type='submit'class='btn btn-success btn-block' type='button' role='button' value='Reset password'/> 
                </form>
            {% else %}
                <h3>Reset your password</h3>
                <div class="alert alert-danger">
                    It look like you clicked on an invalid link, please try again.
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">Request a new password rest link</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}


{% block head %}
    {% if validlink %}
        Reset the password for {{ form.user.username }}
    {% else %}
        Reset password
    {% endif %}

{% endblock head %}